
body{
background-color: #FAC8A5;
color: #35241D;
font-family: 'Barlow', sans-serif;
align-items: center;
background-attachment: fixed, scroll;
background-origin: content-box;
display: flex;
flex-direction: column;
width: 100%;
max-width: 100vw;
height: 100%;
padding: 0;
margin: 0;
margin-top: 100px;
box-sizing: border-box;
}

.img_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.img_logo{
    padding-top: 50px;
}


#button-login {
    background-color: #7F472B;
    color: white;
    padding: 4px;
    border: 0;
    width: 60px;
    height: 25px;
    font-size: 14px;
}

.input_email, .input_senha{
    width: 252px;
    height: 38px;
    font-size: 16px;
}

.texto_form{
    margin-left: 10px;
    font-weight: bold;

}

.wrapper {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.form-group {
width: auto;
min-width: 300px;
outline: none;
border: none;
border-bottom: 1px solid #35241D;
padding: 8px;
display: flex;
flex-direction: column;
max-width: 300px;
margin-left: 33px;
}

.text_register{
    align-items: center;
    font-weight: bold;
    margin-left: 50px;
    padding: 15px;
}

.row{
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 767px){
.form-group{
    min-width: 50%;
    
       } 
.row{
   display: flex;
   flex-direction: column;
   width: 100%;         
        }
body{
    padding: 0;
    margin: 0;
}

    }