body {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/Página_Inicial_Mobile.png");
    background-size: cover;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ontop-login > img {
    width: 50vw;
    flex-direction: column;
}

.new-user {
    color: #FEFAE0;
    align-items: flex-start;
    padding: 10px;
}

.register {
    width: 40%;
    padding: 10px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #783d19;
    background: #F2E2C4;
    cursor: pointer;
}

.card-login {
    width: 100%;
    color: #BF5B21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 17px;
    background-color: #F2E2C4; 
    border-radius: 20px;
    box-shadow: 0px 10px 40px #050505;
    box-sizing: border-box;
}

.login > label{
    color: #BF5B21;
  }

.login > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0px 1px 15px #050505;
    box-sizing: border-box;
    outline: none;
}

  .access {
   width: 55%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #F2E2C4;
    background:#783d19;
    cursor: pointer;
  }