
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
    --fonte-logo: 'Montserrat', sans-serif;
    --fonte-titulo: 'Noto Serif', serif;
    --cor-de-fundo: #00172C;
    --amarelinho: #F1CC9A;
    --azul-botao: #034072;
    --vermelho: #500B19;

}
.logo-escrita-clara{
    width: 200px;
    margin: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--fonte-logo);
    font-size: 16px;
    color:white;
    text-align: center;
    margin-bottom: 20px;
}

.texto-entrada p {
    color: white;
    font-size:20px;
    width: 250px;
    text-align: center;
    margin-bottom: 25px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.mail{
    background-color: #034072;
    height: 30px;
    
}

.email-and-password-container{
    display: flex;
    flex-direction: column;

}

.input-login, .input-senha{
    background-repeat: no-repeat;
    background-color: var(--azul-botao);
    border: none;
    width: 315px;
    height: 45px;
    text-align: center;
    font-family: var(--fonte-logo);
}

.input-login{
    background-image: url(../img/icone-login.png);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(141, 141, 141, 0.5);
}

.input-senha{
    background-image: url(../img/locker.png);
    border-radius: 0 0 10px 10px;
}

.btn-login{
    background-color: #F1CC9A;
    border: none;
    font-family: var(--fonte-logo);
    font-weight: bold;
    height: 40px;
    width: 195px;
    border-radius: 10px;
    color:#500B19;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-login a {
    color: #500B19;
    text-decoration: none;
}

.btn-login:hover{
    cursor: pointer;
    background-color: #eeba76;
}

.btn-cadastrar{
    width: 357px;
    height: 47px;
    border: none;
    border-radius: 10px;
    background-color: #034072;
    font-family: var(--fonte-logo);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-cadastrar:hover{
    cursor: pointer;
    background-color: #03335a;
}

.entrar-google{
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 15px;
}
