/* ^gerais^ */
*{
  box-sizing: border-box;
  font: inherit;
}
body {
  font-family: "Cagliostro", sans-serif;
  color: white;
  background: linear-gradient(180deg, #83152d 8.85%, #ad1d45 88.54%);
  line-height: 1.5;
  margin: 5rem 1rem 0rem 1rem;
  align-items: center;
}
.footer, 
.footer a {
  text-align: center;
  color: white;
  /* margin: 0; */
}
.footer a {
  text-decoration: underline;
}
.login-com p a {
  color: white;
}
.footer h5 a:hover{
  color:#44000d;
  font-size: large;
}
/* ^gerais^ */

.main { 
  font-size: 1.1rem;
} 
.header, .header img{
  /* display: block; */
  /* width: 90%; */
  /* height: auto; */
  /* margin: auto; */
} 
.bckgnd-txt-img, .imagem-footer-login{ 
  display: none;
}
.container-bcg-login{
  display: flex;
}
.caixa-login {
  width: 25rem;
  background-color: #44000d;
  display: flex;
  flex-direction: column;
  margin: -1.5rem auto 1.5rem;
  text-align: center;
  border-radius: 15px;
  gap: 2rem;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.form-login input {
  background-color: #facfce;
  width: 12rem;
  border: 1px ridge;
  text-align: center;
}

input[type="submit"] {
  background-color: #ebafac;
  border-radius: 5px;
  border: transparent;
}
.login-com {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.login-com p {
  line-height: 1.5rem;
  vertical-align: text-bottom;
}


.login-google {
  text-align: center;
}

.btn-google {
  background-color: transparent;
  border: transparent;
}

.btn-google img {
  width: 1.5rem;
}

input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #62615d;
}

@media screen and (min-width: 769px) {
  *{
    padding: 0px;
    margin: 0px;
  }
  .header, .header img{ display: none; } 
  .bckgnd-txt-img, .imagem-footer-login{ 
    display: block;
  }
  .pagina-login{
    display: flex;
    flex-direction: column;
  }
 
  .container-bcg-login{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    /* margin: auto; */

  }
  .bckgnd-txt-img,
  .img-apresentacao{
    text-align: center;
    /* margin: auto; */
    margin-left: 3rem;
  }
  .texto-apresentacao{
    width: 30rem;
    position: relative;
    top: -20rem;
    font-weight: 400;
    font-size: 1.4rem;
    vertical-align: middle;
    line-height: 1.5;
    margin: auto;
    left: 5rem;
  }
  .caixa-login{ 
    margin: 3rem;
    width: 22rem;
    height: 30rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 0rem;
  }
  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.8rem;
    
  }
  .form-login input {
    background-color: #facfce;
    width: 12rem;
    height: 2rem;
    border: 1px ridge;
    text-align: center;
  }
  .input[type=submit]{
    font-size: initial;
    width: 5rem;
    height: 2rem;
  }
  .login-com{
    font-size: large;
  }
  .footer{
    margin-top:-1rem;
  }
  .footer-login-desktop{
    display: flex;
    justify-content: center;
  }
  .imagem-footer-login{ 
    text-align: center;
    width: 8rem;
    height: 7rem;
  }

}

/* @media screen and (min-width: 1006px) { 
  *{
    padding: 0px;
    margin: 0px;
  }
  .header, .header img{ display: none; } 
  .bckgnd-txt-img, .imagem-footer-login{ 
    display: block;
  }
  .pagina-login{
    display: flex;
    flex-direction: column;
  }

  .container-bcg-login{ 
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
  }
  .bckgnd-txt-img{
    width: 30rem;
    text-align: center;
  }
  .img-apresentacao{
    width: 60vw;
    text-align: center;
  }
  .texto-apresentacao{
    width: 30rem;
    position: absolute;
    top: 12rem;
    font-weight: 400;
    font-size: 1.4rem;
    vertical-align: middle;
    line-height: 1.5;
    margin: auto;
    left: 5rem;
  }
  .caixa-login{ 
    width: 22rem;
    height: 30rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 0rem;
  }
  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.8rem;
    
  }
  .form-login input {
    background-color: #facfce;
    width: 14rem;
    height: 2rem;
    border: 1px ridge;
    text-align: center;
  }
  .input[type=submit]{
    font-size: initial;
    width: 5rem;
    height: 2rem;
  }
  .login-com{
    font-size: large;
  }
  .footer-login-desktop{
    display: flex;
    justify-content: center;
  }
  .imagem-footer-login{ 
    text-align: center;
    width: 10rem;
    height: 9rem;
  }
} */
