body {
  font-family: "Cagliostro", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  color: white;
  background: linear-gradient(180deg, #83152d 8.85%, #ad1d45 88.54%);
}

.header {
  text-align: center;
}

.header img {
  width: 80%;
}

.footer {
  color: white;
  text-align: center;
  position: relative;
  top: 2rem;
}

.footer a {
  color: white;
  text-decoration: none;
}
.main {
  margin: -5% 10%;
  margin-top: 0;
  height: 20;
  font-size: 1.1rem;
}
.caixa-login {
  padding: 18% 10%;
  background-color: #44000d;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  gap: 2rem;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.8rem;
}

.form-login input {
  background-color: #facfce;
  height: 30px;
  width: 85%;
  border: 1px ridge;
  text-align: center;
}

input[type="submit"] {
  background-color: #ebafac;
  border-radius: 5px;
  border: transparent;
  padding: 5px;
  width: 30%;
}
.login-com {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.login-com p a {
  color: white;
}

.login-google {
  text-align: center;
}

.btn-google {
  background-color: transparent;
  border: transparent;
}

.btn-google img {
  width: 12%;
  padding: 3%;
}

input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #62615d;
}
