
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir a borda no calculo do tamanho*/
    border: 0;
}

section{
    display: block;
    margin-top: 150px;
}

.container_register{
    display: flex;
    flex-direction: row;
    margin-left: 20px;

}

.container_img{
    padding: 1em;
}

#form_register {
    border-radius: 4px;
    width: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 30px;
}

#img_register {
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left: 30px;
}

#img_text{
    margin-right: 40px;
}

#name_register, #sobrenome_register{
    width: 150px;
    height: 38px;
    font-size: 16px;
}

#input_curvatura, #email_register, #password_register, #confirm_password{
    width: 310px;
    height: 38px;
    font-size: 16px;
    
}

#texto_curvatura{
    margin-left: 8px;
    
}

input {
    margin: 5px;
    padding: 5px;
    border: 0;
    border-radius: 4px;
}

#button_register{
    background-color: #7F472B;
    color: white;
    padding: 4px;
    border: 0;
    width: 90px;
    height: 25px;
    font-size: 14px;
}

#cachinho_footer{
    align-items: center;
    margin-left: 100px;
}

@media screen and (max-width: 1024px){
    
    body{
        padding: 0;
        margin: 0;
    }
    
        }