body, ul {
    margin: 0px;
    padding: 0px;
}
.header-feed{
    background: #004AAD;
    height: 80px;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#menu-feed {
    display: flex;
    list-style: none;
}
#nav-feed {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu-item {
    color:  #F38E53;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    display: block;
}
#menu-btn {
    display: none;
    color: #F38E53;
}
#logo-feed {
    width: 4rem;
    height: 3rem;
}
#user-img {
    display: none;
}
.nav-item {
    margin: 0;
    padding: 1rem;
}
#logout {
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    #menu-feed {
        display: block;
        position: absolute;
        width: 50%;
        top: 80px;
        right: 0px;
        background: #F38E53;
        transition: .6s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav-feed.active #menu-feed{
        height: calc(100vh - 80px);
        visibility: visible;
        overflow-y: auto;
    }
    .nav-item {
        padding: 0;
    }
    .menu-item {
        display: flex;
        padding: 0;
        margin: 0;
        color: #004AAD;
        border-bottom: 1px solid  #004AAD;
        width: 100%;
        justify-content: center;
        line-height: 5rem;
    }
    #menu-btn {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #burger-btn {
        border-top: 3px solid;
        width: 34px;
        border-radius: 3px;
        display: block;
        position: relative;
    }
    #burger-btn::after, #burger-btn::before {
        content: '';
        display: block;
        width: 34px;
        height: 3px;
        margin-top: 7px;
        border-radius: 2px;
        background: currentColor;
        transition: .3s;
    }
    #nav-feed.active #burger.btn {
        background: black;
    }
/*     #nav-feed.active #burger.btn::after {
        transform: rotate(135deg);
    }
    #nav-feed.active #burger.btn::before {
        border-top: rotate(-135deg);
    } */
    #logo-feed {
        width: 3.5rem;
        height: 2.5rem;
    }
/*     .header-feed {
        width: 100%;
        height: 70px;
    }  
    } */
}