@import "./footer.css";
@import "./header-initial.css";
@import "./header-login.css";
@import "./home.css";
@import "./login.css";
@import "./sign-up.css";
@import "./header-feed.css";
@import "./feed.css";
@import "./posts.css";

html {
    margin: 0;
    width: 100vw;
    background: #F0EBE8;
}

body {
    margin: 0;
    height: 100%;
    width: 100vw;
}

#root {
    width: 100vw;
    height: 100%;
}

