.header-post{
    display: flex;
    align-items: center;
    width: 100%;
}
.user-icon {
    width: 40px;
    height: 40px;
    margin-left: 0.5em;
}
.username-post{
    width: 50vw;
    color: #004AAD;
    font-weight: 700;
    margin-left: 1em;
}
.div-body-post{
    margin-left: 0.5em;
}
.body-post{
    width: 60vw;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    outline: none;
    background: #F0EBE8;
    color: black;
}
.footer-post{
    background: #F0EBE8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}
.post-date{
    margin-left: 1em;
    
}
.edit-delete{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
.post-editing{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}
.post-img{
    width: 25px;
}
.footer-btn{
    border: none;
    height: 32px;
    background: #F0EBE8;
}
.editing-buttons{
    width: 87px;
    height: 32px;
    background: #EF681A;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #004AAD;
    border: 1px solid #F0EBE8(30, 30, 30, 0.2);
    cursor: pointer;
    margin-bottom: 5px;
}
.post-like{
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.not-liked {
    display: flex;
}
.liked {
    display: none;
}
