#open-modal {
    background-color: #38EB8D;
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
}

#close-modal {
    padding: .3rem 0;
    background-color: none;
    margin-left: 95%;
    color: #D82934;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .8;
    font-size: 1rem;
    width: 5rem;
    transition: 0.4s;
}

button:hover {
    opacity: 1;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: .5rem;
    border: solid 0.2rem #00B154;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -2rem;
}

.modal-form {
    width: 100%;
}

div.single-input {
    width: 100%;
    margin: 0.2rem 0;
    position: relative;
}

div.single-input label {
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

div.single-input .input{
    width: 100%;
    padding: 5px;
    color: rgb(150,150,150);
    border: 0;
    border-bottom: 2px solid rgb(200, 200, 200);
    outline: 0;
    font-size: 16px;
    border-radius: 0;
}

div.single-input .input:focus,
div.single-input .input:valid {
    border-bottom: 2px solid #00B154;
}

div.single-input .input:focus ~ label,
div.single-input .input:valid ~ label {
    transform: translateY(-24px);
    font-size: 15px;
    color: #00B154;
}

#post-area {
    width: 500px;
    height: 200px;
    max-width: 100%;
    text-align: left;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #38EB8D;
    color: #413e3e;
    border: none;
    outline: none;
    font-size: 15px;
}

#post-area::placeholder{
    color: #413e3e;
    font-size: 15px;
}

#post-button {
    position: relative;
    background-color: #00B154;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    width: 5rem;
    margin-top: 0.8rem;
}

#post-button:hover {
    opacity: 0.9;
}

#post-button:active {
    opacity: 0.8;
}

@media screen and (min-width: 700px) {
     #modal {
        width: 54%;
        height: 70%;
    }

    #post-area {
        width: 90%;
        max-width: 90%;
    }
}

@media screen and (min-width: 1024px) {

    #open-modal {
        width: 50%;
    } 
}
