

h1 {
    text-align: center;
}

.greeting {
    color: #323232;
    font-size: 1.2rem;
    font-weight: 700;
}

.greeting-name {
    color: #323232;
    font-size: 2rem;
    font-weight: 700;
}

.div-greeting-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

p {
    color: #FFF;
}

.container-timeline { 
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    height: 100vh;
   
    flex-direction: column;
    background-color: #e8e8e8;
    justify-items: center;
    align-content: center;
 

}



.header-site{
    background-color:#323232;
    display: flex;
    
    height: 15vh;
    width: 100vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

.logo-image-timeline {
  
    padding-left: 1rem;
}

/* .div-logo-timeline {
  
} */

.menu {
    padding-right: 1rem;
}

.form-wrapper-timeline {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 50vh;
    margin: 0;
    align-items: left;
    padding-bottom: 10rem;
    /* background-color: blueviolet; */
   
}

.post {
    width: 18rem;
    background-color: aquamarine;
    margin-bottom: 1.5rem;
}

.div-logout-btn {
    display: flex;
    justify-content: center;
}

.logout-btn {
    background-color: #FF4F5A;
    border: none;
    color: #FFF;
    font-weight: bolder;
    width: 16.5rem;
}

li {
    list-style: none;
}

#modal-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }


#modal-wrapper.show {
    opacity: 1;
    pointer-events: auto;
  }