body,
html {
  width: 100vw;
  height: 100vh;
}

#login-content {
  display: flex;
  flex-direction: column;
}

#background-orange {
  display: none;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#login-logo {
  width: 375px;
  position: relative;
}

.padding-inputs {
  width: 340px;
  height: 50px;
  background: #dadada;
  border: 3px solid #000000;
  border-radius: 10px;
  text-align: justify;
  font-size: 18px;
}

#email {
  background-image: url("/src/imagens/email.png") !important;
  background-repeat: no-repeat;
}

#password {
  background-image: url("/src/imagens/cadeado.png") !important;
  background-repeat: no-repeat;
}

#enter-button {
  display: flex;
  width: 340px;
  height: 65px;
  margin-top: 20px;
  background: #ee8100;
  border-radius: 10px;
  text-decoration: none;
}

#enter {
  display: flex;
  color: #ffffff;
  align-items: center;
  margin-left: 132px;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 5px;
}

#or-google {
  font-size: 18px;
  margin: -30px;
}

.login-google {
  display: flex;
  font-size: 22px;
  margin-top: 20px;
}

.google-account {
  display: flex;
  font-size: 22px;
  margin-left: -160px;
  margin-bottom: 100px;
}

#image-google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-bottom: 100px;
}

#register {
  display: flex;
  color: #ee8100;
  margin-left: 200px;
  margin-top: -128px;
}

#register-link {
  text-decoration-color: #ee8100;
}

footer {
  display: flex;
  font-size: 12px;
}
