#post-screen{
  width: 100%;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.content-post-feed{
    background-color: #fff;
    border-radius:5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 0;
}


#imagens_feed, #postagem{
    margin: 0;
    align-items: center;
}


#post-button{
    background-color: #7F472B;
    color: white;
    padding: 4px;
    border: 0;
}

.btn-salvar{
    background-color: #7F472B;
    color: white;
    padding: 4px;
    border: 0;
}

#imagens_feed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logOut{
    padding-top: 20px;
}

#text-area{
    border: 0;
    margin-top: 15px;
    border-radius: 5px;
}

.content-post{
    padding: 12px;
}