@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
    --fonte-logo: 'Montserrat', sans-serif;
    --fonte-titulo: 'Noto Serif', serif;
    --cor-de-fundo: #00172C;
    --amarelinho: #F1CC9A;
    --azul-botao: #034072;
    --vermelho: #500B19;
}

body{
    background-color: var(--cor-de-fundo);
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo-feed {
    width: 80px;
    height: 80px;
}

.menu-toggle {
    width: 50px;
    height: 6vh;
    margin-right: 3em;
    margin-top: 10px;
    border: none;
    background-color: transparent;
   
}

.one,
.two,
.three {
    background-color: var(--amarelinho);
    height: 2px;
    width: 70%;
    margin: 8px auto;
    transition-duration: 0.3s;
}

.position-nav {
    display: none;
}

.menu-section.show {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: var(--vermelho);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 50px;
    transition: 0.5s;
}

.menu-section.show .position-nav {
    display: block;
}

.menu-section.show .menu-toggle {
    position: absolute;
    right: 0;
    top: 2px;
    box-shadow: none;
}

.menu-section.show .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-section.show .menu-toggle .two {
    opacity: 0;
}

.menu-section.show .menu-toggle .three {
    transform: rotate(-45deg) translate(6px, -7px);
}

.li-nav {
    list-style-type: none;
}

.menu-section.show .position-nav .options-sair, .options-perfil {
    text-align: center;
    display: block;
    font-size: 1.5em;
    line-height: 6rem;
    color: var(--amarelinho);
    transition: 0.5s;
}

.options-sair{
    background-color: transparent;
    border: none;
}

.options-sair:hover{
    cursor: pointer;
    text-decoration: underline;
}

.options-perfil:hover{
    cursor: pointer;
    text-decoration: underline;
}

li > a{
    text-decoration: none;
    font-family: var(--fonte-logo);
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    border-radius: 20px;
    width: 360px;
    height: 100px;
    margin: auto;
}

.input-post {
    overflow: hidden;
    background: white;
    height: 190px;
    width: 285px;
    border-radius: 15px;
    border: none;
    padding: 5px;
}

.fechar{
    right: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    padding: 3px;
    margin:5px;
    align-self: flex-end;
}

.fechar:hover, .btn-postar:hover {
    cursor: pointer;
    background-color: #f0aa4e;
}

.btn-publicar, .btn-postar{
    background-color: white;
    border: none;
    font-family: var(--fonte-logo);
    font-weight: bold;
    height: 44px;
    width: 200px;
    border-radius: 10px;
    color: var(--azul-botao);
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-postar{
    margin-top: 20px;
}

.btn-publicar:hover{
    cursor: pointer;
    background-color: var(--amarelinho);
}

.dialog{
    background-color: var(--amarelinho);
    width: 300px;
    height: 300px;
    z-index: 10;
    border-radius: 20px;
    border: none;
    padding: 10px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    color: var(--amarelinho);
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 1.5rem;
}

.container-post{
    padding: 20px;
}

.feed-posts{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    width: 400px;
    height: 200px;
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
}

.info-postagem > p{
    font-family: var(--fonte-logo);
    color:var(--vermelho);
    font-weight: 600;
}

.info-postagem{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin:5px;
}

.bloco-texto{
    background-color: white;
    width: 300px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    font-family: var(--fonte-titulo);
}

.postagem{
    font-family: var(--fonte-logo);
}

.icones{
    display: flex;
    justify-content: space-between;
}

.btn-like, .btn-editar, .btn-excluir{
    border: none;
    background-color: transparent;
}

.btn-like:hover, .btn-editar:hover, .btn-excluir:hover{
    cursor: pointer;
}

.img-curtida{
    margin-top: 5px;
    width: 40px;
}

.img-editar, .img-excluir{
    margin-top: 15px;
    width: 30px;
}


.btn-salvar{
    background-color: var(--vermelho);
    border: none;
    font-family: var(--fonte-logo);
    height: 30px;
    width: 90px;
    border-radius: 10px;
    color: var(--amarelinho);
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: 0.5s;
}

.btn-salvar:hover{
    cursor: pointer;
    background-color: var(--amarelinho);
    color: var(--vermelho);
    font-weight: bold;

}

@media (min-width:900px){
    .menu-toggle{
        display: none;
    }

    .position-nav{
        display: flex;
        color: white;
    }

    .options-perfil, .options-sair{
        color: var(--amarelinho);
        font-size: var(--fonte-logo);
        margin-right: 70px;
        font-size: 1.5em;
    }

    .menu-section{
        position: fixed;
        left: 20px;
        top:150px;
    }

    .logo-feed{
        margin-left: 50px;
        margin-top: 30px;
        width: 120px;
        height: 120px;
        position: fixed;
    }

    .post{
        width: 500px;
    }

    .dialog{
        width: 500px;
    }

    .input-post{
        width: 480px;
        padding: 5px;
    }

    .username{
        margin:20px;
        position: relative;
        right: 42vw;
    }

    .feed-posts{
        width: 550px;
    }
}
