.botao{
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.btn-sair {
  display: flex;
  margin: 1rem;
  width: 40px;
  height: 20px;
  padding: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
  background-color: #ebafac;
  border: transparent;
  border-radius: 5px;
}

.mensagem-ola {
  text-align: center;
  font-size: 1.2rem;
}

.paragrafo {
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.novo-post {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 5 */
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  text-align: center;
}

#novo-texto{
  width: 280px;
  height: 140px;
  text-align: center;
  background-color: #facfce;
  border: transparent;
  gap: 1rem;
  /* .postagem-anteriores */
}
#digita-texto{
  text-align: center;
  margin: auto;
  align-items: center;
  margin-right: 2.2rem; /* alinha no meio */
}
.texto-amigas{
  width: 280px;
  height: 120px;
  text-align: center;
  background-color: #facfce;
  border: transparent;
  margin:  1rem auto;
  padding: 1.5rem 1rem;
  align-self: center;
}

.btn-postar {
  display: flex;
  background-color: #ebafac;
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-left: 12rem;
}

.icones-inferiores,
.perfil-usuaria {
  display: block;
}

/* .container-textarea{
  background-color:#ebafac;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
  width: 80%;
}
.deleta-post, .edita-post, .curtir-post{
  width: 50%;
  margin: 0px;
  background-color: transparent;
  border: none;
  display: inline;
}
.deleta-post img, .curtir-post img{
  width: 2.5rem;
}
.edita-post{
  width: 1.8rem;
} */