
/* tava impedindo os inputs de se ajustarem de acordo com o tamanho da tela*/
div:first-child{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
} 
/* .main{
  display: flex;
  align-items: center;
  width: 100%;
} */
.botao{
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.btn-sair {
  display: flex;
  margin-left: 12rem;

  width: 40px;
  height: 20px;
  padding: 4px;
  text-align: center;
  align-items: center;
  margin-top: -5rem;
  background-color: #ebafac;
  border: transparent;
  border-radius: 10px;
}

.mensagem-ola {
  text-align: center;
  font-size: 1.2rem;
}

.paragrafo {
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.novo-post {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}

#novo-texto,
.postagem-anteriores {
  width: 280px;
  height: 140px;
  text-align: center;
  background-color: #facfce;
  border: transparent;
}
#novo-texto{
  text-align: center;
  margin: auto;
  align-items: center;
  margin-right: 2.2rem; /* alinha no meio */
}

.btn-postar {
  display: flex;
  background-color: #ebafac;
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-left: 12rem;

}

.icones-inferiores,
.perfil-usuaria {
  display: none;
}

