/* gerais */
/* html{
  width: auto;
} */
body{
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header, .header img{
  width: auto;
}
/* ^gerais^ */

.imagem-postagem-desktop{ display: none;}

.imagem-desktop{
  display: none;

} .img-desktop{
  display: none;
}

.botao{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  position: relative; 
  /*  botao aindase mexe */
}
.btn-sair {
  display: flex;
  /* margin: 1rem; */
  /* width: auto; */
  /* height: 1.5rem; */
  /* padding: .5rem; */
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-family: monospace;
  /* align-items: center; */
  background-color: #ebafac;
  border: transparent;
  border-radius: 5px;
  left: 24rem;
  top: -18rem;
  position: absolute;
}

.mensagem-ola {
  text-align: center;
  font-size: larger;
}

.paragrafo {
  /* margin-top: -1rem; */
  /* margin-bottom: 2rem; */
}

.novo-post {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  /* width: 90%; */
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#novo-texto{
  height: 10rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Cagliostro", sans-serif, monospace;
  text-align: center;
  background-color: #facfce;
  border: transparent;
  gap: 1rem;
  width: 90%;
}
.btn-postar {
  display: flex;
  background-color: #ebafac;
  border: transparent;
  border-radius: 5px;
  width: auto;
  height: 1.5rem; 
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
  font-family: monospace;
  align-items: center;
  /* margin: auto; */
  margin-bottom: 1rem;
}

.postagens-anteriores{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.postagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* postagens publicadas */
.postagem-amigas{
  display: flex;
  background-color: #facfce;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
 
  box-sizing: border-box;
}
.postagem-data{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.perfil-usuaria, .data-postagem{
  font-size: 1.15em;
  font-weight: bold;
  color: rgb(186, 48, 71);
}
.perfil-usuaria{
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: left;
}

.texto-usuaria-postado{
  resize: none;
  width: 90%;
  height: 8rem;
  background-color: antiquewhite;
  flex-grow: 2;
  margin: 0 1rem; 
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Cagliostro", sans-serif, monospace;
  box-sizing: border-box;
  border-radius: 5px; 
  border-style: none;
  color: black;
}

.btn-curtir, .btn-editar, .btn-excluir, .numero-curtidas{
  display: inline-block;
  background-color: transparent;
  border-style: none;
  /* margin-bottom: 5px; */
  /* margin-top: 10px; */
  color: rgb(186, 48, 71);
}
.btn-curtir:active, .btn-editar:active{
  transform: scale(1.2);
}
 .icone-usuaria{
  /* margin: 10px 0px -5px 15px; */
  width: 10%;
}


@media screen and (min-width: 769px) {
  body{
    height: auto;
  } 
  .main div:first-child{
    display: flex;
    /* align-items: center; */
  }
  .imagem-postagem-desktop {
    display: flex;
    flex-direction: column;
    /* justify-content: space-; */
    align-items: center;
    /* novo , tem tbm a img que é logo-desktop*/
    /* gap: 2rem; */
    /* position: fixed; */

  }
  .logo-desktop{
    top: 1rem;
    left: 2rem;
  }
  .img-desktop{  
    top: 15rem;
    left: 2rem;
  }
  .logo-desktop,
  .img-desktop{  
    display: flex;
   
    /* position: fixed;  */

  }
 
  .container-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  /* .mensagem-ola,  */
  .paragrafo{
    text-align: center;
    margin: 0 auto;
  }
}

/* @media screen and (min-width: 769px) {
  .icones-inferiores{
    text-align: center;
    margin: -.5rem auto;
  }
    
  .desktop{
    display: block;
  }

  .imagem-desktop .desktop{
    display: block;

  } .img-desktop{
    display: block;
    width: 25%;

  } 
  .main div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
  }
  .container-txt{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #postagens-anteriores{
    flex-direction: column;
    width: 100%;
  }
  .postagem-amigas{
    width: auto;
    height: auto;
  }
  .header{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  } 
  }
  .header img{
    display: inline;
    width: 20%;
  }
   */
 