.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.0000rem;
	  padding: 1rem;
    width: 100%;
}

main {
  justify-content: center;
  text-align: center;
}

.feed-postado {
  margin-left: 35%;
  max-width: 60vw;
}

.div-img-logo {
  margin-top: 1%;
  margin-left: 4%;
}

.logo-feed {
  width: 25%;
}

textarea::placeholder {
  color:#606060;
}



.btn-sair {
    background-color: #44586400;
    border: none;
    border-radius: 1rem;
    color: white;
    align-items: center;
    margin-right: 2%;
    min-width: 2vw;
}

.img-sair {
  width: 2.2vw;
  
}

.btn-sair:hover {
  top:-4rem;
  box-shadow:0 .4rem .4rem #606060;
  transition: all .2s ease-in-out;
  background-color:#3d4e58a2;
  color:#e1faf7;

}

.img-user-name {
  width: 5%;
  
}

.position-user-name{
  display: flex;
  gap: 2%;
  margin-bottom: 2%;
  color: white;
}

.user-name {
  margin-top: 0.8vh;
  text-shadow: .2rem .3rem .2rem rgba(0, 0, 0, 0.664);
}

.dataPost {
  color: white;
  padding-top: 1%;
  margin-right: 40%;
  text-shadow: .2rem .3rem .2rem rgba(0, 0, 0, 0.664);
}

#txt-area {
    background-color: #f9cccc;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: .2rem .3rem .2rem rgba(0,0,0,0.25);
    width: 35vw;
    margin-left: 10%;
}

.btn-postar {
  background-color: #26313800;
  border: none;
}

.position-btn-postar {
  display: flex;
  justify-content: flex-end;
}

.posição-botão-postar {
  display: flex;
  justify-content: flex-end;
}

.postar-img, .excluir-img, .editar-img, .curtir-img {
  width: 45%;
  position:relative;
  top:0;
  padding: 4%;
}

.postar-img:hover , .excluir-img:hover, .editar-img:hover, .curtir-img:hover {
  top:-0.2rem;
  box-shadow:0 0.3rem 0.3rem #5a5959;
  transition: all .2s ease-in-out;
  border-radius: 0.5rem;
 }


#txt-area-postado {
    background-color: #e1faf7;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: .2rem .3rem .2rem rgba(0,0,0,0.25);
  
}



.li{
  margin-bottom: 5%;
}

ul, li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
  

@media (max-width: 600px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-bottom: 20px;
        width: 100%;
        background-color:#445864a2 ;
    }
      
    .logo-geral {
        font-size: 1.5rem;
    }
      
    .btn-sair {
       font-size: 0.7rem;
    }

    .feed-posts {
        background-color: #445864a2;
        width: 90%;
        border-radius: 10px;
        box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }

    #txt-area {
       width: 100%;
    }

    #txt-area-postado {
        width: 100%;
    }

  }

  
  @media only screen and (min-width: 700px) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin-bottom: 20px;
      width: 100%;
      background-color:#445864a2;
    }
  
    .logo-geral {
      font-size: 2rem;
    }

    .btn-sair {
      font-size: 1rem;
    }
  }