@import url(../css/login-cadastro.css);
@import url(../css/feed.css);
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303A73;
}

.btn-geral {
    background:  #F56F6F;
    border: none;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.25);
    border-radius: 8px;
    color: white;
}


p, h2 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Smooch Sans', sans-serif;
}


