
body{
    background: var(--bg);
}

.section-login{
    flex-direction: column;
    width: 100vw ;
    background-color: #2C3B42;
    gap: 3vh;
    border-radius: 30px;
    align-items: center;
    padding: 20px 0;
    margin-top: 4vh;
}

.section-register{
    gap:5vh;
}

.section-login h1{
    color: var(--red);
}

.section-login input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--grey) ;
    width: 80vw;
    padding: 5px 0 ;
    color: var(--white);
    outline: none;

}

.login-container{
    background-color: var(--bg);
    height: 100vh;
}

.icon-google{
    width: 40px;
}

.header-login, .logo{
    flex-direction: column;
    align-items: center;
    color: white;   
}

.button-login{
    background-color: var(--red);
    color: white;
    border-radius: 20px 20px 20px 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 80vw;
}

.button-google{
    background: none;
    border: none;
    cursor: pointer;
}

.txt-login, .txt-conta{
    color:white; 
}

.hr-login{
    width: 80vw;
    border: 1px solid var(--grey);
}

.girl-login{
    display: none;
}

@media (min-width: 500px){

    .section-login{
        max-width: 400px;
    }

    .section-login input,
    .button-google, 
    .button-login,
    .hr-login{
        width: 350px;
    }
    .login-container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 900px){
    .login-container{
        display: grid;
        grid-template-areas: 'header forms'
                             'imagem forms';
        grid-template-columns: 1.2fr 1fr;
    }
    .girl-login{
        display: block;
        grid-area: imagem;
        width: 450px;
        justify-self: center;
    }
    .header-login{
        grid-area: header;
    }
    .section-login{
        grid-area: forms;
        height: 500px;
        gap:30px;
    }
    .logo-code-girls{
        width:180px;
    }
    .slogan{
        font-size:13px;
    }
  
    .section-register{
        gap:45px;
    }

}


