
.img-logo {
  max-height: 37vh;
  max-width: 12vw;
  
}

.paragrafo{
  color: white; 
  text-align: center;
  letter-spacing: 0.03rem;  
  line-height: 1.3em;
  text-shadow: 0.1 0.1 0.2 black;
  text-size-adjust: 1;
  font-size: 1.2rem;
}

article {
  max-width: 25em;
  margin-bottom: 3%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2.8vh;
}

.box-register{
  background: #445864a2;
  height: 72vh;
  max-width: 40vw;
  border-radius: 2vw;
  margin-right: 5vw;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 1.7rem;
  padding-top: 2.3rem;
}

.box-text-img {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-left: 17%;
  margin-right: 17%;
  gap: 15%;
}

.box-01 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-register{
  display:flex;
  flex-direction: column;
  gap: 1.7vw;
}

.subtitle-register {
  color: #F56F6F;
  text-align: center;
  font-weight: bold;
}

input{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: none;
  margin: 0 auto;
  background: #beebe4;
  width: 20vw;
  height: 2rem;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #F56F6F;
  font-weight: 700;
  font-size: 0.9rem;
}

input::placeholder {
  color:#7798a7;;
}

textarea:focus, input:focus {
  outline-style:auto;
  outline-color: #7798a7;
}

.msg-erro {
  text-align: center;
  background-color: #f56f6fa9;
  color: #d4f9ff;
  
}

.text-box-register{
  color: #beebe4;
  text-align: center;
}

.btn-cadastro, .btn-login, .btn-logo-google {
  display: flex;
  border-radius: 1rem;
  border: none;
  min-width: 20vw;
  height: 2em;
  margin: 0 auto;
  background: rgba(245, 111, 111, 1);
  color: white; 
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 0.9em; 
  padding: auto; 
} 

.btn-logo-google {
  background-color: #7798a700;;
}


.btn-cadastro:hover , .btn-login:hover  {
  top:-2rem;
  box-shadow:0 0.1rem 0.1rem rgb(60, 60, 60);
  transition: all .2s ease-in-out;
  background-color: #beebe4;
  color:#F56F6F;
}


hr{
  border-color: #beebe4;
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.img-cadastro {
  height: 50vh;
}


.google-img {
  position:relative;
  top:0;
  border-radius: 1rem;
}

.google-img:hover {
 top:-0.2rem;
 box-shadow:0 0.3rem 0.3rem #5a5959;
 transition: all .2s ease-in-out;
}

@media (max-width: 600px) {
  .img-register {
    display: none;
  }

  .box-text-img {
    flex-direction: column; 
    align-items: center;
    margin: 0;
  }
}