@import url(../css/login.css);
@import url(../css/home.css);


:root{
    --white:#FFF3FC;
    --red:#C53F3F;
    --grey:#455A64;
    --bg: #364850; 
    --bg2:#263238 ;
    --bgHeader:#213037;
   
}
.timeline {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    align-items: center;
   

}
#timeline-post{
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
}
.hidden{
    display: none;
}

#btn-salvar{
    background-color: var(--red);
    border-radius: 20px;
    border: 5px solid var(--red);
    align-self: self-start;
    color: var(--white);
}

#like{
    justify-content: center;
    align-items: center;
    gap: 5px;
}
