@import url(../css/login.css);

* {
    background: #02000D;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
   
}

body {
    background-size: 100% 650px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}

it

