*{
  box-sizing: border-box;
}

body {
  font-family: "Cagliostro", sans-serif;
  color: white;
  height: 100%;
  background: linear-gradient(180deg, #83152d 8.85%, #ad1d45 88.54%);
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.header {
  text-align: center;
}

.header img {
  width: 80%;
}

.footer {
  color: white;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

/* gerais - que se aplicam a todas pags */
.btn{
  flex-grow: 1; /* pra ajustar de acordo com a pag  */
}

/* no media query colocar em body fonte-size 1.12/15rem para tablet e x-larger para desktop, ajustar o size do footer sozinho */

.modal{
  background-color: black;
  color:#ad1d45;
}