

body {
    background-color: #E4FDE1;
    text-align: center;
}





.varal {
    
    width: "100px";
    height: "50px";
}

#inputEmail #password{
    border: 1px solid #6BA292 ;
    border-radius: 5%;
    margin: 5px;
   
}

#cabecalho{
    display:flex;   
    flex-direction:wrap;
    width: 150px;  
}
a{
    padding: 10%;
    text-align: center;
    
}