body {
  width: 100vw;
  height: 100vh;
}

.time-line {
  display: flex;
}

#bumerangue-gif {
}

#publication {
  box-sizing: border-box;
  position: absolute;
  width: 252px;
  height: 103px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 20px;
}

#cancel-button {
}

#publication-button {
}
